<header>
  <h1 class="font-rubik">
    Tokyo Diner Co. <ion-icon name="caret-forward-outline"></ion-icon>
  </h1>
  <h2>新定番を、東京から世界に発信しつづける。</h2>
</header>
<main>
  <div class="store rece">
    <section class="section-width">
      <h2><span>飲食店事業</span></h2>
      <div class="inner">
        <h3 [innerHtml]="rece.header"></h3>
        <h4 [innerHtml]="rece.subHeader"></h4>
        <p [innerHtml]="rece.message"></p>

        <div class="shop-information">
          <address>
            <ul>
              @for (item of rece.attribute; track item.value) {
                <li>
                  <ion-icon [name]="item.icon"></ion-icon
                  ><span [innerHtml]="item.value"></span>
                </li>
              }
            </ul>
          </address>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8884526471916!2d139.77304721182819!3d35.67974852994022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188959cb85adfd%3A0xe288791da1d94413!2z44CSMTAzLTAwMjcg5p2x5Lqs6YO95Lit5aSu5Yy65pel5pys5qmL77yS5LiB55uu77yR77yW4oiS77yTIOODluODquODquOCouODs-ODk-ODqyAxZg!5e0!3m2!1sja!2sjp!4v1717563190756!5m2!1sja!2sjp"
            title="receのGoogle Map"
            width="100%"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="eager"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </div>

  <div class="store ckj">
    <section class="section-width">
      <h2><span>飲食店事業</span></h2>
      <div class="inner">
        <h3 [innerHtml]="ckj.header"></h3>
        <h4 [innerHtml]="ckj.subHeader"></h4>
        <p [innerHtml]="ckj.message"></p>

        <div class="shop-information">
          <address>
            <ul>
              @for (item of ckj.attribute; track item.value) {
                <li>
                  <ion-icon [name]="item.icon"></ion-icon
                  ><span [innerHtml]="item.value"></span>
                </li>
              }
            </ul>
          </address>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.101296941761!2d139.70950241182712!3d35.649875831580765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b399e1e1bc7%3A0xcfa21a1b968cf167!2zQ0tKIOOCt-ODvOOCseODvOOCuOOCp-OCpA!5e0!3m2!1sja!2sjp!4v1717563420463!5m2!1sja!2sjp"
            title="ckjのGoogle Map"
            width="100%"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </div>

  <h2><span>お問い合わせ</span></h2>
  <section class="section-width contact">
    <div class="inner">
      @if (isSend()) {
        <p>問い合わせの送信が完了しました。</p>
        <p>
          お申し出に対しては順次対応させていただいておりますが、受付時間外に送信いただいたものや、内容によりましてはお返事にお時間を頂戴する場合がございます。また、ご入力いただいたEメールアドレスや電話番号が誤っている場合やシステム障害が発生した場合等には回答ができない場合がございます。一週間以上経っても回答未着の場合、お手数ですが再度お問い合わせいただけると幸いです。
        </p>

        <p class="text-center">
          <button
            (click)="isSend.set(false)"
            class="submitButton"
            aria-label="別のメッセージを送信する"
          >
            別のメッセージを送信する
          </button>
        </p>
      } @else {
        <ul>
          @for (item of contact; track item) {
            <li>{{ item }}</li>
          }
        </ul>
        <form #f="ngForm" (ngSubmit)="send()">
          <div class="form-line">
            <label for="name"
              ><span class="form-label required">必須</span>お名前</label
            >
            <input
              id="name"
              type="text"
              name="name"
              [(ngModel)]="contactModel.name"
              required
              placeholder="例）山田太郎"
            />
          </div>
          <div class="form-line">
            <label for="mail"
              ><span class="form-label required">必須</span
              >メールアドレス（半角）</label
            >
            <input
              id="mail"
              name="email"
              [(ngModel)]="contactModel.email"
              type="text"
              inputMode="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required
              placeholder="例）info@example.com"
            />
          </div>

          <div class="form-line">
            <label for="tel">お電話番号（半角）</label>
            <input
              id="tel"
              type="text"
              name="tel"
              [(ngModel)]="contactModel.tel"
              placeholder="例）09012345678"
              inputMode="tel"
              pattern="\d{2,4}-?\d{3,4}-?\d{3,4}"
            />
          </div>

          <div class="form-line">
            <label for="message"
              ><span class="form-label required">必須</span>メッセージ</label
            >
            <textarea
              id="message"
              name="message"
              [(ngModel)]="contactModel.message"
              rows="5"
              required
              placeholder="お問い合わせ内容をご記入ください。"
            ></textarea>
          </div>
          <p class="text-center">
            <button
              type="submit"
              class="submitButton"
              [disabled]="f.form.invalid"
              aria-label="問い合わせ送信"
            >
              問い合わせ送信
            </button>
          </p>
        </form>
      }
    </div>
  </section>
</main>
<footer>
  <div class="dark">
    <section class="section-width">
      <div class="copy-right inner">
        <h2>株式会社東京ダイナー</h2>
        <table>
          <tbody>
            <tr>
              <th>代表取締役</th>
              <td>鈴木　肇</td>
            </tr>
            <tr>
              <th>本店の所在地</th>
              <td>東京都新宿区戸山１丁目４番１号</td>
            </tr>
            <tr>
              <th>設立年月日</th>
              <td>2018年3月26日</td>
            </tr>
            <tr>
              <th>登録番号</th>
              <td>
                T9011101083635（<a
                  href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=9011101083635"
                  target="_blank"
                  >適格請求書事業者公開サイト</a
                >）
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</footer>
