/* You can add global styles to this file, and also import other style files */
@use "reset";
@use "app/app.component";
@use "app/header";
@use "app/footer";

body {
  margin: 0;
  color: #333333;

  font-family: 'M PLUS 1p', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}
